<template>
  <div>
    <HeroSection />
    <ServicesSection />
    <div>
      <Cart />
    </div>
  </div>
</template>

<script>
import HeroSection from "./sections/HeroSection.vue";
import ServicesSection from "./sections/SevicesSection.vue";
import Cart from "@/components/Cart.vue";
export default {
  components: {
    HeroSection,
    ServicesSection,
    Cart,
  },
  mounted(){
    console.log();
  }
};
</script>
