<template>
  <section
    class="here bg-default lg h-[600px] min-h-screen flex items-center"
    :style="`background-image: url(${heroBg})`"
  >
    <div class="container flex lg">
      <div class="content text-center w-full">
        <h1 class="text-white tinos text-3xl">
          Добро пожаловать
        </h1>
        <h1 class="text-white tions text-[40px] lg:text-[80px]">
          В нашу пекарню
        </h1>
      </div>
    </div>
  </section>
</template>

<script>
import TheButton from "@/components/TheButton.vue";

export default {
  data() {
    return {
      heroBg: require("@/assets/images/hero-image.jpg"),
    };
  },
  components: { TheButton },
};
</script>
<style>
.bg-default {
  height: 600px;
  }
  .content{
    padding-top: 20%;
  }
</style>