<template>
    <section class="services h-100">
    <div class="container container-somsa">
      <div class="wrapper d-flex wrapper-somsa">
        <div
          class="card bg-success somsa-card"
          style=""
          v-for="(item, idx) in infoArray"
          :key="idx"
        >
          <img
            :src="item.image"
            class="image"
            alt="TomchiSomsa"
            style="height: 150px"
          />

          <div style="margin-top: 40px">
            <h2 class="title text-dark text-center text-uppercase">
              {{ item.name }}
              <span class="text-blue text-center"> </span>
            </h2>
          </div>

          <span class="text-center text-2xl">{{
            item.price
          }}</span>
          <button
            type="button"
            class="btn btn-primary m-auto mt-3 mb-1 button"
            @click="openShowModalValue(item)"
          >
            Купить
          </button>
        </div>
      </div>
    </div>
    <ModalBasket :showModal="showModal" :dataItem="dataItem" class="showModal" />
  </section>
</template>

<script>
export default {

}
</script>

<style>

</style>