<template>
  <b-row cols-lg="2" cols-sm="3" cols="1">
    <div class="modal-vue" v-if="showModal">
      <div class="overlay" v-if="showModal" @click="showModal = false"></div>
      <div class="modallll" v-if="showModal">
        <form @submit="addToBot">
        <button class="close close-1" @click="showModal = false">x</button>
        <img :src="infoArray.image" :alt="showModal.image" />
        <label for="name">имя</label>

        <input type="name" class="form-control mt-2" v-model="value.name" />

        <label for="price">цена</label>
        <input type="price" required class="form-control mt-2" v-model="value.price" />
        <!-- {{ typeof value.price }} -->
        <!-- {{ value.price.replace(/.\./g, "") }} -->
        <label for="number">Сколько</label>
        <input
          @change="getAmount"
          @input="getAmount"
          type="number"
          required
          class="form-control mt-2"
          v-model="value.number"
        />

        <label for="number">Общий сумма</label>
        <input
          type="text"
          class="form-control mt-2"
          required
          v-model="value.totalamount"
          placeholder=""
          id="price"
        />

        <label for="total amount">Номер телефона</label>
        <input
          type="phone"
          required
          class="form-control mt-2"
          v-model="value.phoneNumber"
        />

        <label for="total amount">Куда</label>
        <input type="name" required class="form-control" v-model="value.amount" />

        <div class="d-flex justify-content-around mt-3">
          <button
            type="submit"
            class="btn bg-primary text-white px-3 mb-2 button"
          >
            Заказать
          </button>

          <button
            type="button"
            class="btn bg-danger text-white px-2 mb-2 "
            @click="showModal = false"
          >
            Отменить
          </button>
        </div>
      </form>
      </div>
    </div>
  </b-row>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dataItem: {
      type: Object,
      default: () => {},
    },
    showModal: {
      type: Boolean,
      default: false,
    },
  },
  data: function () {
    return {
      value: {
        name: "",
        price: "",
        number: 0,
        phoneNumber: "",
        totalamount: 0,
      },
      infoArray: [
        {
          image: require("@/assets/images/go'shtli.png"),
          title: "myaso",
          name: "сомса с мясом",
          price: "7000 цена",
        },
        {
          image: require("@/assets/images/kartoshkali.png"),
          name: "сомса с картофелем",
          price: "5000 цена",
        },
        {
          image: require("@/assets/images/TomchiSomsa.png"),
          name: "тыквенная",
          price: "5000 цена",
        },
      ],
    };
  },

  watch: {
    showModal: {
      handler(value) {
        this.value = JSON.parse(JSON.stringify(this.dataItem));
      },
    },
  },

  methods: {
    getAmount() {
      if (this.value.price && this.value.number) {
        this.value.totalamount =
          parseInt(this.value.price.replace(/\./g, "")) *
          parseInt(this.value.number);
        this.value.totalamount.toLocaleString();
      } else {
        this.value.totalamount = 0;
      }
      let result = 0;
    },
    addToBot() {
      axios
        .post("http://139.59.79.103:4040/api/v1/order/", this.value)
        .then((data) => {
          console.log(data);
          this.$emit('closeModal')
        });
    },

    computed: {
      totalamount() {
        return this.$store.getters.input;
      },
    },
  },
  async mounted() {
    let name = localStorage.getItem("name");
    if (name) {
      this.$router.push({ name: "name" });
    }
  },
};
</script>
<style>
.modal-vue .overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-vue .modallll .input {
  border: 1.5px solid;
  background: wheat;
  width: 20%;
  overflow: scroll;
}

.modal-vue .modallll {
  width: 20%;
  z-index: 9999;
  padding: 20px 30px;
  background-color: cadetblue;
  height: 510px;
  position: fixed;
  top: 37%;
  right: 50%;
  transform: translate(50%);
}

.modal-vue .close {
  position: fixed;
  top: 10px;
  margin-left: 83%;
}
</style>
