<template>
  <section class="services h-100">
    <div class="container container-somsa">
      <div class="wrapper d-flex wrapper-somsa">
        <div
          class="card bg-success somsa-card"
          style=""
          v-for="(item, idx) in infoArray"
          :key="idx"
        >
          <img
            :src="item.image"
            class="image"
            alt="TomchiSomsa"
            style="height: 150px;"
          />

          <div style="margin-top: 40px;">
            <h5 class="title text-dark text-center text-uppercase title-name">
              {{ item.name }}
              <span class="text-blue text-center"> </span>
            </h5>
          </div>

          <span class="text-center text-2x somsa-price ">{{ item.price }}</span>
          <button
            type="button"
            class="btn btn-primary m-auto button"
            @click="openShowModalValue(item)"
          >
            Купить
          </button>
        </div>
      </div>
    </div>
    <ModalBasket
      @closeModal="close()"
      :showModal="showModal"
      :dataItem="dataItem"
      class="showModal"
    />
  </section>
</template>

<script>
import axios from "axios";
import ModalBasket from "./modal.vue";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      showModal: false,
      infoArray: [
        {
            image: require("@/assets/images/TomchiSomsa.png"),
            title: "тыквенная",
            price: "5000 цена",
        },
        {
            image: require("@/assets/images/go'shtli.png"),
            title: "myaso",
            title: "сомса с мясом",
            price: "7000 цена",
        },
        {
            image: require("@/assets/images/kartoshkali.png"),
            title: "сомса с картофелем",
            price: "5000 цена",
        },
        {
            image: require("@/assets/images/TomchiSomsa.png"),
            title: "тыквенная",
            price: "5000 цена",
        },
      ],
      dataItem: {},
    };
  },
  components: {
    ModalBasket,
  },
  props: ["product"],

  mounted() {
    axios
      .get("http://3.120.176.217:8011/api/v1/products/")
      .then((response) => (this.infoArray = response.data))
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    openShowModalValue(item) {
      // console.log(this.showModal)
      // console.log(item)
      this.dataItem = item;
      this.showModal = true;
    },

    close() {
      this.showModal = false;
    },

    replaceWordsToSpan(text) {
      if (!text || typeof text != "string") return;
      const textArray = text.split(" ").reverse();
      let newArray = textArray
        .map((item, idx) => {
          if (idx === 0) {
            return `<span class="text-brand">${item}</span>`;
          }
          return item;
        })
        .reverse();
      return newArray.join("");
    },
    modal() {
      this.$store.dispatch("modal", {
        product: this.product,
        quantity: 1,
      });
    },
  },
};
</script>
