<template>

</template>

<script>
import menuList from "./menu-list.js";
import InfoBlock from "./infoBlock.vue";
import TheButton from "@/components/TheButton.vue";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      is_true: true,
      menu: menuList,
     
    };
  },
  components: {
    InfoBlock,
    TheButton,
   
  },

  methods: {
    ...mapActions(["CHANGE_CART_STATUS"]),
  },
};
</script>

<style>

</style>
