<template>
  <header
    class="bg-primary-subtle"
    :class="{ scrolled: scrolled && !isMenuOpen }"
  >
    <div class="container flex ml[12px] justify-between items-center">
      <!-- burger btn -->
      <div class="burger-btn block lg:hidden">
        <BurgerBtn
          @toggleMenu="isMenuOpen = !isMenuOpen"
          :isMenuOpen="isMenuOpen"
        />
      </div>

      <!-- mobile menu -->
      <div class="mobile-menu fixed lg:hidden ml-[-90px]">
        <transition name="layer-fade">
          <div
            class="layer fixed left-0 top-0 w-full h-screen bg-black opacity-80 z-[1px]"
            v-if="isMenuOpen"
          ></div>
        </transition>
        <transition name="menu-slide">
          <MobileMenu v-if="isMenuOpen" />
        </transition>
      </div>

      <!-- desctop menu -->
      <div class="desctop-menu d-flex">
        <DesctopMenu />
      </div>
    </div>
  </header>
</template>

<script>
import DesctopMenu from "./desctopMenu.vue";
import MobileMenu from "./mobileMenu.vue";
import InfoBlock from "./infoBlock.vue";
import BurgerBtn from "./burgerBtn.vue";

export default {
  components: {
    DesctopMenu,
    MobileMenu,
    InfoBlock,
    BurgerBtn,
  },
  data() {
    return {
      isMenuOpen: false,
      scrolled: false,
    };
  },
  methods: {
    navScrolled() {
      const scroll = pageYOffset;
      if (scroll > 0) {
        this.scrolled = true;
      } else {
        this.scrolled = false;
      }
    },
  },
  mounted() {
    window.addEventListener("scroll", this.navScrolled);
  },
};
</script>

<style lang="scss">
.logo-rotate {
  rotate: 360deg;
}

.menu-slide-enter-active,
.menu-slide-leave-active {
  transition: 0.5s ease;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
  translate: -100%;
}

.layer-fade-enter-active,
.layer-fade-leave-active {
  transition: opacity 0.5s ease;
}

.layer-fade-enter-from,
.layer-fade-leave-to {
  opacity: 0;
}

header {
  transition: 0.4s;
  height: 40px;
}

header.scrolled {
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
  padding: 10px 0;

  .logo {
    width: 75px;
  }
}
</style>