<template>
  <div class="info block">
    <div class="row">
      <div class="col-end-auto">

    </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
    
      telegramIcon: require("@/assets/icons/telegram-icon.svg"),
      locationIcon: require("@/assets/icons/location-icon.svg"),
      apelsinIcon: require("../../assets/icons/apelsin-icon.svg"),
    };
  },
};
</script>

<style>

</style>
