<template>
  <nav
    class="bg-white fixed left-0 top-0 h-screen p-5 w-[250px] flex flex-col justify-between pt-[100px] text-dark"
  >
    <!-- menu -->
    <ul>
      <li v-for="(menuItem, idx) in menuList" :key="idx" class="mb-5">
        <a :href="menuItem.link" class="text-lg">
          {{ menuItem.name }}
        </a>
      </li>
      <div>
        <a href="https://t.me/xanifaxonadonsomsa">
        <img :src="telegramIcon" alt="">  
        </a>
        <a href="https://uzumbank.uz/cabinet/uz/transfer">
          <img
            :src="apelsinIcon"
            alt="icon"
            class="hiffen lg:block w-12 mt-[5px]"
          />
        </a>
      </div>
    </ul>

    <!-- info -->
    <div>
      <InfoBlock />
    </div>
  </nav>
</template>

<script>
import MenuList from "./menu-list.js";
import InfoBlock from "./infoBlock.vue";

export default {
  components: { InfoBlock },
  data() {
    return {
      menuList: MenuList,
      
    };
  },
};
</script>

<style></style>
