<template>
    <div
    class="cart fixed left-0 top-0 w-full h-full z-[9999999]"
    v-if="IS_CART_OPEN"
  >
    <div
      class="layer bg-black opacity-80 w-full h-full absolute left-0 top-0"
      @click="CHANGE_CART_STATUS"

    ></div>
    <div
      class="cart-wrapper absolute right-0 top-0 h-full bg-white min-w-[400px]"
    >
      <button class="text-2xl text-center my-5">Orders:</button>

      <!-- items -->
      <div
        class="item flex p-5"
        v-for="item in getItemsFromLocalStorage"
        :key="item"
      >
        <div class="image w-24 h-24 mr-3">
          <img :src="item.pic" :alt="item.name" class="w-full h-full" />
        </div>
        <div class="text-content">
          <h3 class="name text-xl">{{ item.name }}</h3>
          <p class="price font-semibold" id="price">0 som{{ item.price }}</p>
          <button class="btn bg-red py-1 px-10 text-white text-xs rounded mt-2">
            Delete
          </button>
     
        </div>
      </div>

      <!-- btn -->
      <div>
        <button class="order w-full py-3 text-white bg-brand absolute bottom-0">
          Order
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["IS_CART_OPEN", "GET_PRODUCT"]),
    getItemsFromLocalStorage() {
      const data = JSON.parse(localStorage.getItem("http://3.120.176.217:8011/api/v1/order/"));
      if(!data || !this.GET_PRODUCT) return [];
      let newArray = [];

      for (let item in this.GET_PRODUCT) {
        for (let i = 0; i < data.length; i++) {
          if (item === data[i]) {
            newArray.push(this.GET_PRODUCT[item]);
          }
        }
      }
      return newArray;
    },
  },
  methods: {
    ...mapActions(["CHANGE_CART_STATUS"]),
  }
}
</script>

<style>

</style>