<template>
  <button
    class="font-bold text-white text-sm uppercase px-5 py-[14px] bg-orange min-w-[137px]"
    @click="$emit('action')"
  >
    <slot />
  </button>
</template>

<script>
export default {};
</script>
