<template>
  <main>
    <Navbar v-if="hasNavbar" />
    <router-view />
    <Footer v-if="hasNavbar" />
  </main>
</template>

<script>
// import Navbar from "@/layouts/Navbar/index.vue";
import Footer from "./layouts/Footer.vue";

export default {
  components: {
    Footer,
  },
  data(){
    return {
      myInputModel: null
    }
  },
  computed: {
    hasNavbar() {
      // const navbar = this.$route.meta.navbar;
       const footer = this.$route.meta.footer;
      if (footer) {
        return false;
      }
      return true;
    },
  },
};
</script>
