.bg-default {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  background: lightblue;
}

a {
  display: inline-block;
}

.tinos {
  font-family: "Tinos", sans-serif;
}

.services {
  /* height: 100%; */
  background: lightblue;
}
.services .container .wrapper {
  gap: 15px;
  justify-content: center;
}

.services .container .wrapper .card {
  margin: 11px 0px 14px 0px;
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  width: 300px;
  height: 400px;
}
.button {
  margin-top: auto !important;
}
.services .container .tinos .somsa-card .image {
  width: 150px;
  margin-right: 0px;
}
.service .container {
  background: lightblue;
}

.somsa-card {
  border: 1px solid;
  width: 600px;
  padding: 10px;
}

.btn {
  padding: 5px 50px;
  background: blue;
  border: 1px;
  color: #fff;
  cursor: pointer;
}

tbody .d-flex {
  height: 60px;
}

.tbody .d-flex .btn .bg-danger {
  margin-right: 10px;
}

.btn {
  padding: 7px 27px;
}

.footer-somsa .footer-icon {
  max-width: 1024px;
  display: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 30%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 82%;
  }
}
/* @media screen and (max-width: 1025px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 30%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 72%;
  }
} */

@media screen and (max-width: 1000px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 30%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 72%;
  }
}
@media screen and (max-width: 600px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 60%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 72%;
  }
}


@media screen and (max-width: 480px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 60%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 72%;
  }
}

@media screen and (max-width: 320px) {
  .services .container .wrapper {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .modal-vue .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-vue .modallll {
    width: 80%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: cadetblue;
    height: 510px;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .modal-vue .close {
    position: fixed;
    top: 10px;
    margin-left: 72%;
  }
}