/* 1200 */

@media(max-width: 1200px){
    .container{
        max-width: 1024px;
    }
}

/* 1024 */
@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

/* 768 */

@media (max-width: 768px){
    .container{
        max-width: 425px;
    }

    .header .container{
        justify-content: center;
        padding: 15px 0;
    }

    .header .menu{
        display: none;
    }
}

.main{
    padding: 150px 0;
}

/* 425 */

@media (max-width: 425px) {

}
