<template>
  <footer class="footer sm-auto ">
    <ul class="footer-menu w-full me-1 footer-somsa">
      <div class="icon d-flex footer-icon">
        <a href="">
          <img
            :src="telegramIcon"
            alt="icon"
            class="telegram large medium telegram-icon"
          />
        </a>
        <a href="https://maps.app.goo.gl/gc3qAbtBnsDCxAfJ8">
          <img
            :src="locationIcon"
            :alt="icon"
            class="location large me-1 medium"
          />
        </a>

        <a href="https://uzumbank.uz/cabinet/uz/transfer">
          <img
            :src="apelsinIcon"
            alt="icon"
            class="uzum-icon large me-1 medium"
          />
        </a>
        <a href="tel: +99897709925" class="tel">
          <img :src="phoneIconLigth" alt="icon" class="large phone-icons medium" />
          <span class="large medium lg:font-bold phone-number text-black"
            >+998 97 706 99 25</span>
        </a>
      </div>
    </ul>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      phnoneIconDark: require("@/assets/icons/phone-icon-dark.svg"),
      phoneIconLigth: require("@/assets/icons/phone-icon.svg"),
      cartIconLigth: require("@/assets/icons/cart-icon.svg"),
      cartIconDark: require("@/assets/icons/cart-icon-dark.svg"),
      telegramIcon: require("@/assets/icons/telegram-icon.svg"),
      locationIcon: require("@/assets/icons/location-icon.svg"),
      apelsinIcon: require("../assets/icons/apelsin-icon.svg"),
    };
  },
};
</script>

<style>
.tel .ml-2 {
  color: black;
}
.footer {
  height: 30px;
  background: darkturquoise;
}

footer .footer-menu .icon .location {
  height: 23px;
  margin-right: 10px !important;
}
footer .footer-menu .icon .telegram {
  height: 18px;
  margin-left: -20px !important;
}
footer .footer-menu .icon .uzum-icon {
  margin-top: 2px;
  margin-left: -7px !important;
  height: 14.2px;
}
.footer .footer-menu .footer-icon .phone-icons {
  height: 18px;
  margin-left: 5px;
}
footer .footer-menu .icon .phone-number{
  margin-left: 9px;
  margin-top: 10px;
}
</style>
